In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./Kickstarter_2021-05-13T03_20_03_813Z/new.csv")

In [3]:
df.shape

(224457, 39)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224457 entries, 0 to 224456
Data columns (total 39 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             224457 non-null  int64
 1   blurb                     224449 non-null  object
 2   category                  224457 non-null  object
 3   converted_pledged_amount  224457 non-null  int64
 4   country                   224457 non-null  object
 5   country_displayable_name  224457 non-null  object
 6   created_at                224457 non-null  int64
 7   creator                   224457 non-null  object
 8   currency                  224457 non-null  object
 9   currency_symbol           224457 non-null  object
 10  currency_trailing_code    224457 non-null  bool
 11  current_currency          224457 non-null  object
 12  deadline                  224457 non-null  int64
 13  disable_communication     224457 non-null  bool
 14  friends                   72 non-null      object
 15  fx_rate                   224457 non-null  float64
 16  goal                      224457 non-null  float64
 17  id                        224457 non-null  int64
 18  is_backing                72 non-null      object
 19  is_starrable              224457 non-null  bool
 20  is_starred                72 non-null      object
 21  launched_at               224457 non-null  int64
 22  location                  224245 non-null  object
 23  name                      224457 non-null  object
 24  permissions               72 non-null      object
 25  photo                     224457 non-null  object
 26  pledged                   224457 non-null  float64
 27  profile                   224457 non-null  object
 28  slug                      224457 non-null  object
 29  source_url                224457 non-null  object
 30  spotlight                 224457 non-null  bool
 31  staff_pick                224457 non-null  bool
 32  state                     224457 non-null  object
 33  state_changed_at          224457 non-null  int64
 34  static_usd_rate           224457 non-null  float64
 35  urls                      224457 non-null  object
 36  usd_exchange_rate         224457 non-null  float64
 37  usd_pledged               224457 non-null  float64
 38  usd_type                  224325 non-null  object
dtypes: bool(5), float64(6), int64(7), object(21)
memory usage: 59.3+ MB

In [5]:
df.head(2)

,backers_count,blurb,category,converted_pledged_amount,country,country_displayable_name,created_at,creator,currency,currency_symbol,...,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_exchange_rate,usd_pledged,usd_type
0,63,A Steve Lafler graphic novel,"{""id"":252,""name"":""Graphic Novels"",""analytics_n...",1942,US,the United States,1598551608,"{""id"":170366277,""name"":""Steve Lafler"",""slug"":""...",USD,$,...,https://www.kickstarter.com/discover/categorie...,True,False,successful,1600930801,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",1.0,1942.0,international
1,132,What happens when two drug-fueled lowlifes fin...,"{""id"":252,""name"":""Graphic Novels"",""analytics_n...",3097,US,the United States,1484592440,"{""id"":1492206329,""name"":""David M. Brown"",""slug...",USD,$,...,https://www.kickstarter.com/discover/categorie...,True,False,successful,1489672994,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",1.0,3097.0,international

In [6]:
#checking for null values
df.isnull().sum()

backers_count                    0
blurb                            8
category                         0
converted_pledged_amount         0
country                          0
country_displayable_name         0
created_at                       0
creator                          0
currency                         0
currency_symbol                  0
currency_trailing_code           0
current_currency                 0
deadline                         0
disable_communication            0
friends                     224385
fx_rate                          0
goal                             0
id                               0
is_backing                  224385
is_starrable                     0
is_starred                  224385
launched_at                      0
location                       212
name                             0
permissions                 224385
photo                            0
pledged                          0
profile                          0
slug                             0
source_url                       0
spotlight                        0
staff_pick                       0
state                            0
state_changed_at                 0
static_usd_rate                  0
urls                             0
usd_exchange_rate                0
usd_pledged                      0
usd_type                       132
dtype: int64

In [7]:
# Columns with null values and high cardinality
drop_cols = ['friends','is_backing','usd_type','is_starred','permissions','location','country_displayable_name','currency_symbol','fx_rate','creator','converted_pledged_amount','urls','source_url','slug','photo','profile','currency','currency_trailing_code','current_currency','static_usd_rate','disable_communication','is_starrable']

df = df.drop(columns=drop_cols)

In [8]:
df.columns

Index(['backers_count', 'blurb', 'category', 'country', 'created_at',
       'deadline', 'goal', 'id', 'launched_at', 'name', 'pledged', 'spotlight',
       'staff_pick', 'state', 'state_changed_at', 'usd_exchange_rate',
       'usd_pledged'],
      dtype='object')

In [9]:
#checking for null values after feature engineering
df.isnull().sum()

backers_count        0
blurb                8
category             0
country              0
created_at           0
deadline             0
goal                 0
id                   0
launched_at          0
name                 0
pledged              0
spotlight            0
staff_pick           0
state                0
state_changed_at     0
usd_exchange_rate    0
usd_pledged          0
dtype: int64

In [10]:
# Extracting the 8 Nan values
df[df.blurb.isnull() == True]

,backers_count,blurb,category,country,created_at,deadline,goal,id,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_exchange_rate,usd_pledged
6115,2,NaN,"{""id"":351,""name"":""Printing"",""analytics_name"":""...",US,1406991938,1408334400,100.0,233547398,1407441222,Vending Machine (Canceled),20.0,False,False,canceled,1408333920,1.000000,20.000000
6784,0,NaN,"{""id"":286,""name"":""Spaces"",""analytics_name"":""Sp...",US,1449537429,1452142672,1500000.0,272079457,1449550672,N/A (Canceled),0.0,False,False,canceled,1449571384,1.000000,0.000000
15870,0,NaN,"{""id"":311,""name"":""Food Trucks"",""analytics_name...",US,1473363868,1475959978,15000.0,899643147,1473367978,N/A (Canceled),0.0,False,False,canceled,1473968146,1.000000,0.000000
33540,242,NaN,"{""id"":339,""name"":""Sound"",""analytics_name"":""Sou...",GB,1435830664,1446209511,60000.0,626888806,1443617511,Star Wars Bluetooth Speakers (Canceled),36058.0,False,False,canceled,1443825021,1.514213,54676.079907
65114,0,NaN,"{""id"":20,""name"":""Conceptual Art"",""analytics_na...",US,1424103554,1427901540,100000.0,1879498871,1424210815,N/A (Canceled),0.0,False,False,canceled,1424449267,1.000000,0.000000
132712,0,NaN,"{""id"":20,""name"":""Conceptual Art"",""analytics_na...",US,1331063276,1335042707,50000.0,1224405542,1331158307,N/A (Canceled),0.0,False,False,canceled,1331581327,1.000000,0.000000
132878,0,NaN,"{""id"":21,""name"":""Digital Art"",""analytics_name""...",US,1509679461,1515800048,40000.0,1077399482,1510616048,awlsies,0.0,False,False,failed,1515800048,1.000000,0.000000
134009,39,NaN,"{""id"":269,""name"":""Ready-to-wear"",""analytics_na...",DE,1504364375,1507625188,15000.0,937524480,1505033188,Ready to wear,7372.0,False,False,failed,1507625190,1.176750,8873.674115

In [11]:
df.dropna(subset = ["blurb"])
df.head()

,backers_count,blurb,category,country,created_at,deadline,goal,id,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_exchange_rate,usd_pledged
0,63,A Steve Lafler graphic novel,"{""id"":252,""name"":""Graphic Novels"",""analytics_n...",US,1598551608,1600930800,599.0,1629235715,1598972824,1956 Book One: Sweet Sweet Little Ramona,1942.0,True,False,successful,1600930801,1.0,1942.0
1,132,What happens when two drug-fueled lowlifes fin...,"{""id"":252,""name"":""Graphic Novels"",""analytics_n...",US,1484592440,1489672993,2000.0,1593905291,1487084593,Modern Animals,3097.0,True,False,successful,1489672994,1.0,3097.0
2,6,A pillow meant for two.,"{""id"":345,""name"":""DIY"",""analytics_name"":""DIY"",...",US,1422830552,1425583061,500.0,1341470613,1422991061,Couples Couch Pillow,211.0,False,False,failed,1425583065,1.0,211.0
3,16,Professional conservation of the 1880's mural ...,"{""id"":23,""name"":""Painting"",""analytics_name"":""P...",US,1540415232,1556115457,17000.0,510157690,1552227457,"Downtown Mural Restoration (Ann Arbor, MI)",1368.0,False,False,failed,1556115457,1.0,1368.0
4,44,"We are trying to raise $2,500 for an art proje...","{""id"":24,""name"":""Performance Art"",""analytics_n...",US,1340910823,1365187488,2500.0,147824964,1360007088,The Trade Parade of Ecuador,2506.0,True,False,successful,1365187533,1.0,2506.0

In [12]:
df.shape

(224457, 17)

In [13]:
#Feature Engineering
df['blurb_length'] = df['blurb'].str.split().str.len()
df['goal_in_usd'] = round(df['goal'] * df['usd_exchange_rate'],2)

In [14]:
#Convert epoch dates to Date using pandas
df['created_at'] = pd.to_datetime(df['created_at'], origin='unix', unit='s').dt.date
df['deadline'] = pd.to_datetime(df['deadline'], origin='unix', unit='s').dt.date
df['launched_at'] = pd.to_datetime(df['launched_at'], origin='unix', unit='s').dt.date
df['state_changed_at'] = pd.to_datetime(df['state_changed_at'], origin='unix', unit='s').dt.date

In [15]:
# Converting into datetime type
df['created_at'] = pd.to_datetime(df['created_at'],format='%Y-%m-%d')
df['deadline'] = pd.to_datetime(df['deadline'],format='%Y-%m-%d')
df['launched_at'] = pd.to_datetime(df['launched_at'],format='%Y-%m-%d')

# New feature - campaign duration
df['campaign_duration'] = (df['deadline'] - df['launched_at']).dt.days

In [16]:
df['campaign_duration'][:5]

0    23
1    30
2    30
3    45
4    60
Name: campaign_duration, dtype: int64

In [17]:
# Example category value
df.iloc[190]['category']

'{"id":24,"name":"Performance Art","analytics_name":"Performance Art","slug":"art/performance art","position":8,"parent_id":1,"parent_name":"Art","color":16760235,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/art/performance%20art"}}}'

In [18]:
# Extracting sub-category section column category
fun_subcategory = lambda x: x['category'].split('/')[1].split('","position')[0]
df['sub_category'] = df.apply(fun_subcategory, axis=1)
df['sub_category'].head()

0     graphic novels
1     graphic novels
2                diy
3           painting
4    performance art
Name: sub_category, dtype: object

In [19]:
# Extracting category section and replacing the original category variable
fun_category = lambda x: x['category'].split('"slug":"')[1].split('/')[0]
df['category'] = df.apply(fun_category, axis=1)
df['category'].head()

0    comics
1    comics
2    crafts
3       art
4       art
Name: category, dtype: object

In [20]:
df['state'].value_counts()

successful    132398
failed         76649
canceled        9314
live            6096
Name: state, dtype: int64

In [21]:
# droppping live status
condition = df['state'] == 'live'
df = df[~condition]

In [22]:
df['state'].value_counts()

successful    132398
failed         76649
canceled        9314
Name: state, dtype: int64

In [23]:
# replacing cancelled with failed
df['state'] = df['state'].replace(to_replace ="canceled",
                 value ="failed")

In [24]:
df['state'].value_counts()

successful    132398
failed         85963
Name: state, dtype: int64

In [25]:
# One hot encoding column state
# Successful = 1 , Failed = 0 
df.loc[df['state']=='successful','state'] = 1
df.loc[df['state']=='failed','state'] = 0
df['state'] = df['state'].astype(int)
df['state'].value_counts()

1    132398
0     85963
Name: state, dtype: int64

In [26]:

# One hot encoding column spotlight 
# True = 1 , False = 0 
df.loc[df['spotlight']==True,'spotlight'] = 1
df.loc[df['spotlight']==False,'spotlight'] = 0
df['spotlight'] = df['spotlight'].astype(int)
df['spotlight'].value_counts()

1    132398
0     85963
Name: spotlight, dtype: int64

In [27]:
# One hot encoding column staff_pick 
# True = 1 , False = 0 
df.loc[df['staff_pick']==True,'staff_pick'] = 1
df.loc[df['staff_pick']==False,'staff_pick'] = 0
df['staff_pick'] = df['staff_pick'].astype(int)
df['staff_pick'].value_counts()

0    187782
1     30579
Name: staff_pick, dtype: int64

In [28]:
df.dtypes

backers_count                 int64
blurb                        object
category                     object
country                      object
created_at           datetime64[ns]
deadline             datetime64[ns]
goal                        float64
id                            int64
launched_at          datetime64[ns]
name                         object
pledged                     float64
spotlight                     int64
staff_pick                    int64
state                         int64
state_changed_at             object
usd_exchange_rate           float64
usd_pledged                 float64
blurb_length                float64
goal_in_usd                 float64
campaign_duration             int64
sub_category                 object
dtype: object

In [28]:
df.head(2)

,backers_count,blurb,category,country,created_at,deadline,goal,id,launched_at,name,...,spotlight,staff_pick,state,state_changed_at,usd_exchange_rate,usd_pledged,blurb_length,goal_in_usd,campaign_duration,sub_category
0,63,A Steve Lafler graphic novel,comics,US,2020-08-27,2020-09-24,599.0,1629235715,2020-09-01,1956 Book One: Sweet Sweet Little Ramona,...,1,0,1,2020-09-24,1.0,1942.0,5.0,599.0,1957976,graphic novels
1,132,What happens when two drug-fueled lowlifes fin...,comics,US,2017-01-16,2017-03-16,2000.0,1593905291,2017-02-14,Modern Animals,...,1,0,1,2017-03-16,1.0,3097.0,20.0,2000.0,2588400,graphic novels

In [29]:
#Exporting to CSV
df.to_csv('KickstarterCleanedv3.csv')